* {
  box-sizing: border-box;
}
body {
  margin:0; padding:0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #333;
  font-size: 16px;
  background: rgba(20, 32, 44, 1);
  font-family: "Montserrat", sans-serif;
}
h1, h2, h3 {
  font-family: "Bungee", cursive;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgba(232,233,236, .9);
}

.wrap {
  max-width: 720px;
  width: 100%;
  margin: 3vh auto 0;
}

.title {
  font-size: 36px;
  background-color: rgba(177, 24, 30, 1);
  color: rgba(20,32,44, 1);
  margin:0;
  padding: 30px 10px;
  grid-column: span 5;
  text-align: center;
  line-height: 1.9em;
}

.logo {
  margin: auto;
  max-height: 96%;
  max-width: 96%;
}
.logged_in {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 5px 8px;
  width: 100%;
  color: rgba(232,233,236, .8);
  opacity: 0.4;
}
.logged_in div {
  flex: 50%;
}
.logged_in:hover {
  opacity:1;
  background-color: rgba(70,82,79, 0.8);
}

.text-left       { text-align:left}
.text-right      { text-align:right}
.text-center     { text-align:center}

.kit, .keepittogether { display: inline-block; }

.msg {
  font-size: 34px;
  border: dotted;
  padding: 0.5em 1em;
  margin: 2vh auto 1vh;
  color: white;
}
.error { background-color: red; }
.success { background-color: green; }
.warning { background-color: orange; }

/* Winners list {{{ */
.winners {
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
  width: 100%;
  max-width: 420px;
  padding: 1.5em 2.4em;
}
.winners h2 {
  background-color: rgba(177,24,30, 1);
  color: rgba(232,233,236, 1);
  text-align: center;
  font-size: 30px;
  line-height:1.8em;
}
.winners table {
  margin: 0 2%;
  padding: 5px;
  font-size: 22px;
  font-weight: 500;
  background-color: rgba(182,183,186, 0.8);
}
/* }}} */

/* Login {{{ */
.login_box {
  align-self: center;
  margin: 0;
  width: 100%;
  max-width: 320px;
  padding: 1.5em 2.4em;
  background-color: rgba(182,183,186, 0.8);
}
.login_field {
  display: flex;
  width: 100%;
  margin:1em 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  border: 2px dotted;
  background-color: rgba(232,233,236, 1);
  padding: .45em .85em;
}
.btn {
  display: flex;
  margin: 0 auto;
  padding: .45em .85em;
  font-family: "Bungee", cursive;
  font-size: 1.3em;
  font-weight: 500;
  background-color: rgba(177, 24, 30, 0.8);
  color: rgba(232,233,236, 1);
  border: 2px dotted;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(177, 24, 30, 1);
}
/* }}} */

/* bingo {{{ */
.bingo-card {
  background-color: rgba(70,82,79, 1);
  width:94%;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-gap: 3px;
  grid-template-rows: repeat(5, 110px);
  grid-template-columns: repeat(5, 1fr);
  text-transform: uppercase;
}
.bingo_square {
  background-color: rgba(182,183,186, 1);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
}
.bingo_square:hover {
  background-color: rgba(232,233,236, 1);
}
.bingo_square:after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 0;
}
.bingo_square.active:after {
  height: 100%;
  opacity: 0.4;
  background-color: rgba(177,24,30, 1);
}
.logo_square {
  background-color: rgba(232,233,236, 1);
  cursor: default;
}

@media screen and (max-width: 650px) {
  .logo_square {
    display: none;
  }

  .bingo-card {
    grid-template-rows: repeat(24, auto);
    grid-template-columns: auto;
    margin: 1em;
  }

  .bingo_square {
    padding: 22px 10px;
    font-size: 18px;
  }

}
